<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<script src=".../server.js"></script>
		<script src="..../server.js"></script>
			<script src="././server.js"></script>
		<script src="../../server.js"></script>
			<script src="../server.js"></script>

			<script type="text/javascript">
  var context = {
  title: "My First Blog Post!",
  author: {
    id: 47,
    name: "Yehuda Katz"
  },
  body: "My first post. Wheeeee!"
};

				
				var people = [
    {firstName: "Yehuda", lastName: "Katz"},
    {firstName: "Carl", lastName: "Lerche"},
    {firstName: "Alan", lastName: "Johnson"}
  ]



			</script>
		<title>Event SkyScraper</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
